.books-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #fffffe;
    .sticky-container{
        margin: 5rem;
        width: calc(100% - 4rem);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .book{
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            .book-sticky{
                border: 1px solid #2b2c34;
                width: calc(100% - 2rem);
                margin: 0 1rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                color: #2b2c34;
                border-radius: 5px;
                &:first-child{
                    border: 1px solid #6246ea;
                    background: #6246ea;
                    color: #fffffe;
                }
            }
        }
    }
}

.addbooks-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-wrapper{
        width: calc(100% - 16rem);
        padding: 8rem;
        display: flex;
        justify-content: center;
        .input{
            font-size: 1.2rem;
            padding: 1rem;
            width: 80%;
            outline-color: #6246ea;
            border-radius: 5px;
            border: 1px solid rgb(238, 238, 238);
        }
    }
    .booklist-container{
        padding: 0 6rem;
        width: calc(100% - 12rem);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .book-container{
            box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.43);
            width: calc((100% - 8rem) / 4);
            margin: 1rem;
            cursor: pointer;
            .image{

            }
            .title{
                color: black;
            }
            .authors{
                color: black;
            }
        }
    }
}

