a{
    text-decoration: none;
}
$color: #6246ea;
.students-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #fffffe;
    .sticky-container{
        margin: 5rem;
        width: calc(100% - 4rem);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .student{
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            .student-sticky{
                border: 1px solid #2b2c34;
                width: calc(100% - 2rem);
                margin: 0 1rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                color: #2b2c34;
                border-radius: 5px;
                &:first-child{
                    border: 1px solid $color;
                    color: $color;
                }
            }
        }
    }
}

.addstudent-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .input-container{
        width: 60%;
        display: flex;
        justify-content: center;
        .input{
            width: 100%;
            font-size: 1.2rem;
            padding: 1rem;
            text-align: center;
            border-radius: 5px;
            border: 1px solid rgb(238, 238, 238);
            color: #2b2c34;
            outline-color: #6246ea;
        }
    }
}